* {
  padding: 0;
  margin: 0;
  max-width: 100%;

  /* overflow-x: hidden; */
  font-family: 'Poppins', sans-serif;
}

.header {
  padding-top: 15px;
  background-color: white;
  padding-bottom: 15px;
}

.header img {
  float: right;
  margin-right: 15px;
  margin-top: -17px;
}

.header a {
  margin-top: 25px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  text-decoration: none;
  margin-left: 24px;
}

.headline {
  background-image: url(./Images/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  border-radius: 0 0 0 65px;
  padding-bottom: 50px;
  background-size: cover;
  background-color: white;
}

body {
  background: #e5e5e5;
}

.headline h1 {
  width: 264px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin-left: 24px;
  padding-top: 65px;
  padding-bottom: 60px;
  position: relative;
  animation-name: h1;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
  animation-iteration-count: 5s;
  animation-direction: alternate;
}

.headline p {
  width: 296px;
  height: 157px;
  margin-top: -53px;
  margin-left: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 24px;
}

.social-links {
  list-style: none;
  display: flex;
  padding-left: 21px;
  margin-top: 11px;
  gap: 17px;
}

.works-container {
  display: grid;
  gap: 21px;
  padding: 0;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 100%;
}

.works-container > div {
  background-color: white;
  border-radius: 20px;

  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  padding: 10px;
  margin: 20px;

  /* margin-right: 37px; */
  margin-top: 45px;
}

.works-container ol {
  display: inline-block;
  list-style-type: none;
  padding: 13px;
}

.works-container li {
  display: inline-block;
  padding: 2px;
}

.works-container h2 {
  padding-top: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.card-skill-1 {
  width: 55px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  margin-left: -11px;
}

.card-skill-2 {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
  margin-left: -19px;
}

.works-container p {
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
}

.tech-skills li {
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 5px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 15px;
  margin-bottom: 18px;
}

button {
  font-size: 14px;
  padding: 10px;
  background: #fff;
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: #396df2;
}

.About {
  background: #fff;
  border-radius: 0 55px 0 0;
  margin-top: 50px;
  padding-bottom: 100px;
}

.About h2 {
  height: 101px;
  font-size: 40px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding-top: 80px;
  padding-left: 24px;
}

.About p {
  width: 288px;
  line-height: 24px;
  padding-left: 24px;
  padding-top: 10px;
}

.About h3 {
  margin-top: 12px;
}

.About .social-links {
  margin-top: 17px;
}

.About button {
  padding: 10px;
  margin-left: 18px;
  margin-top: 27px;
  font-size: 17px;
  letter-spacing: 0.03em;
  border-radius: 8px;
}

.skills h4 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: inline-flex;
  align-items: center;
  color: #000;
  margin-left: 24px;
}

.skills .bar1 {
  padding-right: 175px;
  margin-bottom: 33px;
  margin-top: 40px;
}

.skills .bar2 {
  padding-right: 170px;
  padding-bottom: 15px;
  padding-top: 20px;
}

.skills .bar3 {
  padding-right: 235px;
  padding-bottom: 15px;
}

button:hover {
  background: #6070ff;
  color: white;
}

button:active {
  background: #2230d2;
  color: white;
}

.skill-img {
  margin-left: 16px;
}

.tech-lang {
  list-style-type: none;
  margin-left: 24px;
  margin-right: 24px;
}

.tech1 {
  background: #f7f7f9;
  border-radius: 8px;
  padding: 6px;
  margin-bottom: 12px;
  display: inline-flex;
}

.tech2 {
  background: #f7f7f9;
  border-radius: 8px;
  padding: 6px;
  margin-bottom: 12px;
  display: inline-flex;
}

.tech3 {
  background: #f7f7f9;
  border-radius: 8px;
  padding: 6px;
  margin-bottom: 12px;
  display: inline-flex;
}

.tech-lang h6 {
  align-items: center;
  display: flex;
  padding: 10px;
  width: 223px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.contact-form {
  background-color: #6070ff;
  border-radius: 70px 0 0 0;
  background-image: url(./Images/contactformshapes-mobile@2x.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-attachment: scroll;
  background-size: contain;
  background-position-x: 157px;
  padding-top: 100px;
  padding-bottom: 40px;
}

.contact-form h2 {
  font-size: 37px;
  line-height: 52px;
  color: #fff;
}

.contact-form p {
  width: 266px;
  font-size: 21px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.form {
  margin-top: 35px;
  margin-right: -79px;
}

.form li {
  display: flex;

  /* flex-direction: column; */
  gap: 8px;
}

#name {
  border-radius: 8px;
  width: 128%;
  padding: 11px;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
  border: 1px solid white;
}

#email {
  border-radius: 7px;
  width: 128%;
  padding: 11px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  border: 1px solid white;
}

#msg {
  border-radius: 7px;
  width: 128%;
  padding: 11px;
}

.button {
  width: 50%;
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin-top: 16px;
  border-radius: 7px;
}

.form ul {
  margin-right: 84px;
}

.desktop {
  display: none;
}

@media (min-width: 475px) {
  body {
    width: 100vw;
  }

  .footer-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.desktop-links {
  display: none;
}

.img1 {
  display: none;
}

.img3 {
  display: none;
}

@media (min-width: 768px) {
  nav img {
    display: none;
  }

  .desktop-links {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin-top: -20px;
  }

  .desktop-links li a {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    margin-right: 32px;
    text-decoration: none;
  }

  #btn {
    margin-left: 100px;
  }

  .headline p {
    width: fit-content;
  }

  .headline h3 {
    margin-top: -68px;
  }

  .headline {
    border-radius: 0 0 0 50px;
    background-image: url(./Images/Header.png);
    padding: 105px;
  }

  body {
    background-color: #e5e5e5;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 13px;
  }

  .img1 {
    display: none;
  }

  .works-container > div {
    margin: 26px;
    margin-left: 9%;
  }

  .btn1 {
    margin-bottom: 67px;
  }

  .btn2 {
    margin-bottom: 50px;
  }

  .img2 {
    width: 96%;
    height: 100%;
  }

  .card h2,
  .card p {
    width: fit-content;
  }

  .About {
    display: grid;
    grid-template-columns: 2fr 3fr;
  }

  .About p,
  .About h3,
  .About ul {
    margin-bottom: 5px;
  }

  .skills {
    margin-top: 60px;
    list-style: none;
  }

  .tech1,
  .tech2,
  .tech3 {
    width: 100px;
    display: inline-block;
    padding: 0;
  }

  .tech-img {
    margin-left: 10px;
    margin-top: 7px;
  }

  .contact-form p {
    width: 500px;
    text-align: center;
  }

  .contact-form {
    background-image: url(./Images/contact-form-backgroundshapes@2x-desktop6.png);
    background-position: center;
  }

  .form {
    display: flex;
    align-items: center;
    margin-right: -80px;
  }

  #name,
  #email {
    width: 300px;
    padding: 14px;
    border: 1px solid white;
    border-radius: unset;
  }

  #msg {
    width: 300px;
    padding: 14px;
    border-radius: unset;
  }

  .tech-lang {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
  }

  .skills .bar1 {
    padding-right: 257px;
  }

  .skills .bar2 {
    padding-right: 245px;
  }

  .skills .bar3 {
    padding-right: 306px;
  }

  .skill-img {
    width: 63%;
  }
}

@media (min-width: 975px) {
  .img2 {
    display: block;
  }

  .img3 {
    display: none;
  }

  .Works-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card {
    max-width: 1000px;
  }

  .About {
    padding-inline: 100px;
  }
}

@keyframes h2 {
  0% {
    background-color: white;
    left: 0;
    right: 0;
  }

  25% {
    background-color: white;
    left: 200px;
    right: 0;
  }

  50% {
    background-color: white;
    left: 200px;
    right: 200px;
  }

  75% {
    background-color: white;
    left: 0;
    right: 200px;
  }

  100% {
    background-color: white;
    left: 0;
    right: 0;
  }
}

.overlay {
  height: 114%;
  width: 0;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(95, 98, 240, 0.9);
  backdrop-filter: blur(6px);
  overflow-x: hidden;
  transition: 0.5s;
  mix-blend-mode: multiply;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
}

.overlay a {
  padding: 4px;
  text-decoration: none;
  font-size: 26px;
  color: white;
  display: block;
  transition: 0.3s;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: -19px;
  right: 8px;
  font-size: 28px;
  font-weight: 100;
}
